<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Farmacia</title>
    <link rel="stylesheet" href="noti-anular.component.css">
  </head>
  <body class="contenedor">
    <div>
        <button class="boton1" style="margin-right: 1120px;">
            <a [routerLink]= "['/pageadministrador']">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg>
            </a>
        </button>
        <a class="users">
            <img class="image--cover img-responsive" src="../../assets/imagenes/usuario.png" width="50" height="50" style="margin-left: 990px;">
            <p class="user-info" style="margin-left: 10px;">
                <span class="header-username">Vendedor</span>
                <a [routerLink]= "['/login']" style="font-weight: 100;">Cerrar sesion</a>
            </p>
        </a>
    </div>

    <form class="form-noti">
        <h5>Notificacion</h5>
      
        <label class="label-dis">¿Esta seguro de anular la</label><br><br>
        <label class="label-dis" style="margin-left: 170px;">Venta?</label><br><br><br>
      
      <div class="contenedor-botones">
          <button id="no" [routerLink]= "['/ventas']" class="buttonCancelar">
            <span>No</span>   
          </button>
          <button id="si" [routerLink]= "['/pagevendedor']" class="buttons">
            <span>Si</span>
          </button>
      </div>
    </form>
    <div>
      <dialog></dialog>
    </div>
<!--[routerLink]= "['/pagevendedor']"-->
  </body>
</html>