* {
    margin: 0;
    padding: 0;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.contenedor {
	width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-noti {
    width: 350px;
    height: 150px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 40px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 40px;
    
  }

  .label-dis{
      font-size:30px;
      margin-left: 60px;
  }

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.boton1{
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	margin-right: 1250px;
    background: #f2f2f2;
}


.buttons {
    width: 280%;
    height: 45px;
    background: #0ea573;
    border: none;
    color: white;
    display: grid;
    font-size: larger;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-left: 40px;
  }


  .form-noti h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
  }
.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.page-administrador::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #000000;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.boton.page-administrador:hover::after {
	left: 0;
}

.image--cover {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
  .users {
    text-decoration: none;
    color: #374457;
	font-size: 17px;
    font-weight: bold;
    /* opcional: inline-block para que las cards vayan una al lado de la otra */
    display: block;
  }
  /* alinear la foto y la info */
  .image--cover,
  .user-info {
    vertical-align: middle;
  }
  /* mismo margin que la foto, inline-block para que quede a continuación */
  .user-info {
    display: inline-block;
	margin: 20px 0;
    padding: 0;
  }
  /* los span van block para quedar uno arriba del otro */
  .user-info>span {
    display: block;
  }