<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="page-administrador.component.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 

</head>

<body>
    <div class="contenedor">
        <a class="users">
            <img src="../../assets/imagenes/farmacia.png" width="70" height="70" style="margin-right: 350px;">
            <h1 class="center">
                Farmacia
            </h1>
            <img class="image--cover img-responsive" src="../../assets/imagenes/usuario.png" width="50" height="50" style="margin-left: 294px;">
            <p class="user-info" style="margin-left: 10px;">
                <span class="header-username">Administrador</span>
                <a [routerLink]= "['/login']" style="font-weight: 100">Cerrar sesion</a>
              </p>
        </a>
    </div>

    <br>
    <img src="../../assets/imagenes/finanzas.png" width="85" height="85" style="margin-left: 570px;"><br><br>
    <div class="contenedor-botones">
        <a style="text-decoration: none;">
            <button class="boton page-administrador" [routerLink]= "['/ingresosdiarios']" style="margin-left:370px;">
                <span>Ingresos diarios</span>
            </button>
        </a>
    </div><br>
    <img src="../../assets/imagenes/catalogar.png" width="85" height="85" style="margin-left: 250px;">
    <img src="../../assets/imagenes/gestion.png" width="85" height="85" style="margin-left: 550px;">
    <br><br>
    <div class="contenedor-botones">
        <a style="text-decoration: none;">
            <button class="boton page-administrador" [routerLink]= "['/catbase']" style="margin-left: 100px;">
                <span>Catalogo base</span>
            </button>
        </a>
        <a style="text-decoration: none;">
            <button class="boton page-administrador" [routerLink]= "['/catproductos']" style="margin-left: 300px;">
                <span>Gestion de usuarios</span>
            </button>
        </a>
    </div>
</body>
</html>
