<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Farmacia</title>
    <link rel="stylesheet" href="noti-pass.component.css">
  </head>
  <body class="contenedor">
    <form class="form-noti">
        <h5>Notificacion</h5>
      
        <label class="label-dis">Contraseña cambiada</label><br>
        <label class="label-dis" style="margin-left: 150px;">con exito</label><br><br><br>

      <div class="contenedor-botones">
          <button id="login" [routerLink]= "['/login']" class="buttons">
            <span>Aceptar</span>   
          </button>
      </div>
    </form>
<!--[routerLink]= "['/pagevendedor']"-->
  </body>
</html>